* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
}

a {
    text-decoration: none;
    color: #f7D354;
    transition: .5s;
}

a:hover {
    filter: opacity(0.7);
}